@import "../../../styles/variables";
@import "../../../styles/mixins";
@import "../../../styles/functions";

.slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 85vh;
  padding-top: 5vh;
  padding-bottom: 10vh;
  background-color: $light-shade;
  .cardGrid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    .cardGroup {
      flex: 0 1 400px;
      margin: 1em;
      max-width: 100%;
      .card {
        background-color: $light-shade;
        box-shadow: 0 0 2px 1px $dark-shade;

        height: 200px;
      }

      .cardContent {
        height: 100%;
        button {
          margin: 1em 0.5em;
        }
        .cardDescription {
          h2 {
            font-size: 1em;
          }
          display: none;

          font-size: 1em;
          margin-top: -200px;
          text-align: center;
          color: $light-accent;
        }
        &:hover {
          background-color: $dark-shade;

          .cardDescription {
            display: inherit;
          }
          & .cardImage {
            opacity: 0.1;
          }
        }
      }
      .cardImage {
        height: 200px;
        width: 400px;
        overflow: hidden;
      }
    }
  }
  p {
    margin: 20px 20px;
  }
  @media screen and (min-width: 800px) {
    .outsideButtons {
      display: none;
    }
  }
  @media screen and (max-width: 799px) {
    .insideButtons {
      display: none;
    }
    @media screen and (max-width: 799px) {
      svg {
        color: $main-color;
      }
    }
  }

}

