@mixin keyframesLeft($name, $menuIndex) {
  @include keyframes(#{$name}) {
    20% {
      position: sticky;
      position: -webkit-sticky;
    }
    50% {
      position: relative;
      left: -100% * ($menuIndex);
    }
    55% {
      top: -100% * ($menuIndex);
      left: 0;

      position: relative;
    }

    100% {
      position: relative;
      top: 0;
    }
  }
}
