@import "../../../scss/variables";
@import "../../../scss/mixins";
@import "../../../scss/functions";

#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 85vh;
  padding-top: 5vh;
  padding-bottom: 10vh;
  & > * {
    margin: 0px 20px;
  }
  #contact-form {
    & > * {
      margin: 10px 0px;
    }
  }
  h3 {
    margin: 25px 20px 20px 20px;
  }
  .social-links {
    display: flex;
    > * {
      background-color: inherit;
      cursor: pointer;
      border: none;
      border-radius: 50%;
      margin: 0 0.5em;
      padding: 8px;
      font-size: 2em;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    > *:hover {
      background-color: $light-accent;
    }
  }
}
