@mixin h2AndLogo($size) {
  width: $size;
  height: $size;
  margin-top: -$size/2;
  margin-left: -$size/2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform-style: preserve-3d;
}
@mixin orbitSize($logo, $i, $seconds, $size) {
  $radius: 1 + $i * $size;

  ##{$logo}.orbit {
    animation-name: #{$logo}-orbit;
    width: $radius * 2;
    height: $radius * 2;
    margin-top: -$radius;
    margin-left: -$radius;
    animation-duration: $seconds;
  }
  .skill-logo {
    width: $size;
  }
}
